/*style sheet for the navigation bar*/

/*"Contact Manager" header*/
.logo
{
  color: #000000; /*black*/
  float: left;
  padding-left: 25px;
  padding-top: 25px;
}

.navlogin
{
  color: #000000; /*black*/
}

.navsignup
{
  color: #000000; /*black*/
}

nav
{
  float: right;
}

nav ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

header::after
{
  content: '';
  display: table;
  clear: both;
}

nav li
{
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;

  position: relative;
}

nav:hover
{
  color: #000;
}

nav::before
{
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav:hover::before
{
  width: 100%;
}
