.navbar {
    margin-bottom:0px;
}
.jumbotron {
    margin-top:0px;
}
.container{
    padding-bottom:70px;
}
.search_symbol span{
    background-color: #FFF;
}

.search_symbol input{
    border-right-style:none;
}
